<html>
 <head>
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
 </head>
 <body>
  <h1><%=message%></h1>
  <h2><%=error.status%></h2>
  <div>
   <%=error.stack%>
  </div>

 </body>
</html>
